* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v28_2 {
    width: 100%;
    height: 2160px;
    background: rgba(42,42,42,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v28_4 {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(247,127,0,1), rgba(98,23,8,1));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v28_5 {
    width: 141px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 19px;
    left: 1061px;
    font-family: Pacifico;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v28_6 {
    width: 200px;
    height: 100px;
    background: rgba(196,196,196,0);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(98,23,8,1);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v28_7 {
    width: 200px;
    height: 100px;
    background: rgba(196,196,196,0);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 200px;
    border: 1px solid rgba(98,23,8,1);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v28_8 {
    width: 200px;
    height: 100px;
    background: rgba(196,196,196,0);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 400px;
    border: 1px solid rgba(98,23,8,1);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v28_9 {
    width: 92px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 33px;
    left: 51px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v28_10 {
    width: 156px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 222px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .v28_11 {
    width: 135px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 33px;
    left: 432px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .v45_4 {
    width: 500px;
    height: 500px;
    background: linear-gradient(rgba(247,127,0,1), rgba(98,23,8,1));
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 128px;
  }
  .v45_3 {
    width: 401px;
    height: 400px;
    background: url("./Gallery/R1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 177px;
    overflow: hidden;
  }
  .v46_2 {
    width: 437px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 137px;
    left: 665px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 28px;
    opacity: 1;
    text-align: justify;
  }
  .v46_3 {
    width: 441px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 468px;
    left: 665px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 28px;
    opacity: 1;
    text-align: justify;
  }
  .v46_11 {
    width: 100%;
    height: 445px;
    background: linear-gradient(rgba(247,127,0,1), rgba(98,23,8,1));
    opacity: 1;
    position: absolute;
    top: 732px;
    left: 0px;
    overflow: hidden;
  }
  .v46_4 {
    width: 72px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 108px;
    left: 36px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v46_5 {
    width: 623px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 759px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_6 {
    width: 623px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 828px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_7 {
    width: 625px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 899px;
    left: 64px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_8 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 968px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_9 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1038px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_10 {
    width: 623px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1108px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_13 {
    width: 447px;
    height: 620px;
    background: url("./Gallery/R2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1223px;
    left: 66px;
    overflow: hidden;
  }
  .v46_14 {
    width: 450px;
    height: 300px;
    background: url("./Gallery/R3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1548px;
    left: 616px;
    overflow: hidden;
  }
  .v46_15 {
    width: 450px;
    height: 300px;
    background: url("./Gallery/R4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1223px;
    left: 616px;
    overflow: hidden;
  }
  .v46_17 {
    width: 100%;
    height: 700px;
    background: url("./Gambar/K004.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.30000001192092896;
    position: absolute;
    top: 1177px;
    left: 1px;
    overflow: hidden;
  }
  .v46_18 {
    width: 156px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1899px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_19 {
    width: 744px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1959px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_20 {
    width: 587px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2014px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_21 {
    width: 466px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2069px;
    left: 66px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  